.categories {
  padding: 60px;
  text-align: center;
   background-color: #e0f4ec; /* light green tint */
}

.categories h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #00704A;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.category-card {
  background-color: #f5f5f5;
  padding: 30px;
  border-radius:45px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);  /* Softer, bigger shadow */

  transition: transform 0.3s ease; box-shadow: 0.3s ease;
}

.category-card:hover {
  transform: translateY(-10px);
   box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15); /* Deeper shadow on hover */
}

.category-card img {
  max-width: 400px;
  margin-bottom: 15px;
}

.category-card p {
  font-size: 1.1rem;
  font-weight: 500;
  color: #333;
}
